In [46]:
import csv
with open("train.csv", 'r') as f:
    # Read the rows of the file into a dictionary
    dictionary = csv.DictReader(f)
    #for row in dictionary:
    #   print(row['Sex'])

In [61]:
import pandas

input_dataframe = pandas.read_csv("train.csv")

In [62]:
labels = input_dataframe['Survived']

In [63]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
input_dataframe["Embarked"] = le.fit_transform(input_dataframe["Embarked"].astype(str))
input_dataframe["Cabin"] = le.fit_transform(input_dataframe["Cabin"].astype(str))
input_dataframe["Sex"] = le.fit_transform(input_dataframe["Sex"].astype(str))
input_dataframe["Age"] = input_dataframe["Age"].fillna(-1)
input_dataframe.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,147,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,81,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,55,2

In [64]:
matX = input_dataframe[["Pclass","Sex", "Age", "SibSp", "Parch","Fare", "Cabin", "Embarked"]]
matX.head(4)

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500    147         2
1       1    0  38.0      1      0  71.2833     81         0
2       3    0  26.0      0      0   7.9250    147         2
3       1    0  35.0      1      0  53.1000     55         2

In [65]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(matX, labels)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [90]:
test_dataframe = pandas.read_csv("test.csv")

In [99]:
test_dataframe["Embarked"] = le.fit_transform(test_dataframe["Embarked"].astype(str))
test_dataframe["Cabin"] = le.fit_transform(test_dataframe["Cabin"].astype(str))
test_dataframe["Sex"] = le.fit_transform(test_dataframe["Sex"].astype(str))
test_dataframe["Age"] = test_dataframe["Age"].fillna(-1)
test_dataframe["Fare"] = test_dataframe["Age"].fillna(-1)
test_dataframe.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,34.5,74,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,47.0,74,2
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,62.0,74,1
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,27.0,74,2

In [100]:
matTest = test_dataframe[["Pclass","Sex", "Age", "SibSp", "Parch","Fare", "Cabin", "Embarked"]]
matTest.head(4)

   Pclass  Sex   Age  SibSp  Parch  Fare  Cabin  Embarked
0       3    1  34.5      0      0  34.5     74         1
1       3    0  47.0      1      0  47.0     74         2
2       2    1  62.0      0      0  62.0     74         1
3       3    1  27.0      0      0  27.0     74         2

In [101]:
matTest

     Pclass  Sex   Age  SibSp  Parch  Fare  Cabin  Embarked
0         3    1  34.5      0      0  34.5     74         1
1         3    0  47.0      1      0  47.0     74         2
2         2    1  62.0      0      0  62.0     74         1
3         3    1  27.0      0      0  27.0     74         2
4         3    0  22.0      1      1  22.0     74         2
5         3    1  14.0      0      0  14.0     74         2
6         3    0  30.0      0      0  30.0     74         1
7         2    1  26.0      1      1  26.0     74         2
8         3    0  18.0      0      0  18.0     74         0
9         3    1  21.0      2      0  21.0     74         2
10        3    1  -1.0      0      0  -1.0     74         2
11        1    1  46.0      0      0  46.0     74         2
12        1    0  23.0      1      0  23.0      4         2
13        2    1  63.0      1      0  63.0     74         2
14        1    0  47.0      1      0  47.0     57         2
15        2    0  24.0      1      0  24.0     74         0
16        2    1  35.0      0      0  35.0     74         1
17        3    1  21.0      0      0  21.0     74         0
18        3    0  27.0      1      0  27.0     74         2
19        3    0  45.0      0      0  45.0     74         0
20        1    1  55.0      1      0  55.0     74         0
21        3    1   9.0      0      1   9.0     74         2
22        1    0  -1.0      0      0  -1.0     74         2
23        1    1  21.0      0      1  21.0     74         0
24        1    0  48.0      1      3  48.0      7         0
25        3    1  50.0      1      0  50.0     74         2
26        1    0  22.0      0      1  22.0      2         0
27        3    1  22.5      0      0  22.5     74         0
28        1    1  41.0      0      0  41.0     12         2
29        3    1  -1.0      2      0  -1.0     74         0
..      ...  ...   ...    ...    ...   ...    ...       ...
388       3    1  21.0      0      0  21.0     74         1
389       3    1   6.0      3      1   6.0     74         2
390       1    1  23.0      0      0  23.0     75         2
391       1    0  51.0      0      1  51.0     49         2
392       3    1  13.0      0      2  13.0     74         2
393       2    1  47.0      0      0  47.0     74         2
394       3    1  29.0      3      1  29.0     74         2
395       1    0  18.0      1      0  18.0     24         2
396       3    1  24.0      0      0  24.0     74         1
397       1    0  48.0      1      1  48.0      3         0
398       3    1  22.0      0      0  22.0     74         2
399       3    1  31.0      0      0  31.0     74         1
400       1    0  30.0      0      0  30.0     35         2
401       2    1  38.0      1      0  38.0     74         2
402       1    0  22.0      0      1  22.0     74         0
403       1    1  17.0      0      0  17.0     74         2
404       1    1  43.0      1      0  43.0     54         0
405       2    1  20.0      0      0  20.0     53         0
406       2    1  23.0      1      0  23.0     74         2
407       1    1  50.0      1      1  50.0     37         0
408       3    0  -1.0      0      0  -1.0     74         1
409       3    0   3.0      1      1   3.0     74         2
410       3    0  -1.0      0      0  -1.0     74         1
411       1    0  37.0      1      0  37.0     36         1
412       3    0  28.0      0      0  28.0     74         2
413       3    1  -1.0      0      0  -1.0     74         2
414       1    0  39.0      0      0  39.0     15         0
415       3    1  38.5      0      0  38.5     74         2
416       3    1  -1.0      0      0  -1.0     74         2
417       3    1  -1.0      1      1  -1.0     74         0

[418 rows x 8 columns]

In [102]:
predicted_labels = clf.predict(matTest)

In [103]:
test_dataframe['PassengerId'].shape

(418,)

In [104]:
predicted_labels.shape

(418,)

In [119]:
import numpy as np
array = np.array([test_dataframe['PassengerId'], predicted_labels])
result = pandas.DataFrame(array.T, columns=['PassengerId', "Survived"])
# columns=['PassengerId', 'Survived']

In [121]:
result.to_csv('regression_submission.csv',index=False)