In [2]:
import csv
with open("train.csv", 'r') as f:
    # Read the rows of the file into a dictionary
    dictionary = csv.DictReader(f)
    #for row in dictionary:
    #   print(row['Sex'])

In [3]:
import pandas

input_dataframe = pandas.read_csv("train.csv")

In [4]:
labels = input_dataframe['Survived']

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
input_dataframe["Embarked"] = le.fit_transform(input_dataframe["Embarked"].astype(str))
input_dataframe["Cabin"] = le.fit_transform(input_dataframe["Cabin"].astype(str))
input_dataframe["Sex"] = le.fit_transform(input_dataframe["Sex"].astype(str))
input_dataframe["Age"] = input_dataframe["Age"].fillna(-1)
input_dataframe.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,147,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,81,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,147,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,55,2

In [6]:
matX = input_dataframe[["Pclass","Sex", "Age", "SibSp", "Parch","Fare", "Cabin", "Embarked"]]
matX.head(4)

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0       3    1  22.0      1      0   7.2500    147         2
1       1    0  38.0      1      0  71.2833     81         0
2       3    0  26.0      0      0   7.9250    147         2
3       1    0  35.0      1      0  53.1000     55         2

In [7]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(matX, labels)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [8]:
test_dataframe = pandas.read_csv("test.csv")

In [9]:
test_dataframe["Embarked"] = le.fit_transform(test_dataframe["Embarked"].astype(str))
test_dataframe["Cabin"] = le.fit_transform(test_dataframe["Cabin"].astype(str))
test_dataframe["Sex"] = le.fit_transform(test_dataframe["Sex"].astype(str))
test_dataframe["Age"] = test_dataframe["Age"].fillna(-1)
test_dataframe["Fare"] = test_dataframe["Age"].fillna(-1)
test_dataframe.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,34.5,76,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,47.0,76,2
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,62.0,76,1
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,27.0,76,2

In [10]:
matTest = test_dataframe[["Pclass","Sex", "Age", "SibSp", "Parch","Fare", "Cabin", "Embarked"]]
matTest.head(4)

   Pclass  Sex   Age  SibSp  Parch  Fare  Cabin  Embarked
0       3    1  34.5      0      0  34.5     76         1
1       3    0  47.0      1      0  47.0     76         2
2       2    1  62.0      0      0  62.0     76         1
3       3    1  27.0      0      0  27.0     76         2

In [11]:
matTest.shape

(418, 8)

In [12]:
predicted_labels = clf.predict(matTest)

In [13]:
test_dataframe['PassengerId'].shape

(418,)

In [14]:
predicted_labels.shape

(418,)

In [15]:
import numpy as np
array = np.array([test_dataframe['PassengerId'], predicted_labels])
result = pandas.DataFrame(array.T, columns=['PassengerId', "Survived"])
# columns=['PassengerId', 'Survived']

In [25]:
result.to_csv('submissions/regression_submission.csv',index=False)

In [19]:
"Random forest"

'Random forest'

In [36]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()
clf.fit(matX, labels)
predicted_labels_rf = clf.predict(matTest)

/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [37]:
array = np.array([test_dataframe['PassengerId'], predicted_labels_rf])
result_random_forest = pandas.DataFrame(array.T, columns=['PassengerId', "Survived"])

In [38]:
result_random_forest.to_csv('submissions/random_forest.csv',index=False)